<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Demo title</title>
</head>
<body>
    <div class="card">
        <h1>Demo title</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ab error debitis neque? Voluptatum harum blanditiis nemo, accusantium ipsum nesciunt, sequi beatae sed velit adipisci, inventore voluptatibus. Beatae, cum voluptate?
        </p>
    </div>
</body>
</html>